h1 { color: red; }
h2{ color: blue; }
h3{ color:green; }

.banana{ color:orange; }
.peach{ background-color: pink; }
.flour{ color:red; }
.kuromi{color:purple;}

.grd{color:rgb(222,90,190);background:linear-gradient(to bottom,#38a092,#fdbf3b);}
↑サンリオキャラクター




